<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="src">
        <dir
          name="ganttproject-master">
          <watched
            excludes=".*"
            subdirs="true">
            <filter
              name="CSS"/>
            <filter
              name="Delphi"/>
            <filter
              name="Html"/>
            <filter
              name="Java"/>
            <filter
              name="Javascript"/>
            <filter
              name="Pascal"/>
            <filter
              name="Php"/>
            <filter
              name="Python"/>
            <filter
              name="Sql"/>
            <filter
              name="TypeScript"/>
            <filter
              name="Xml"/>
          </watched>
          <dir
            name="biz.ganttproject.app.libs"/>
          <dir
            name="biz.ganttproject.core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="biz">
                    <dir
                      name="ganttproject">
                      <dir
                        name="core">
                        <dir
                          name="calendar">
                          <dir
                            name="walker"/>
                        </dir>
                        <dir
                          name="chart">
                          <dir
                            name="canvas"/>
                          <dir
                            name="grid"/>
                          <dir
                            name="render"/>
                          <dir
                            name="scene">
                            <dir
                              name="gantt"/>
                          </dir>
                          <dir
                            name="text"/>
                        </dir>
                        <dir
                          name="model">
                          <dir
                            name="task"/>
                        </dir>
                        <dir
                          name="option"/>
                        <dir
                          name="table"/>
                        <dir
                          name="time">
                          <dir
                            name="impl"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="org">
                    <dir
                      name="w3c">
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="biz.ganttproject.desktop">
            <dir
              name="src">
              <dir
                name="biz">
                <dir
                  name="ganttproject">
                  <dir
                    name="desktop"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="biz.ganttproject.impex.ical">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="biz">
                    <dir
                      name="ganttproject">
                      <dir
                        name="impex">
                        <dir
                          name="ical"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="biz.ganttproject.impex.msproject2">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="biz">
                    <dir
                      name="ganttproject">
                      <dir
                        name="impex">
                        <dir
                          name="msproject2"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="resources"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="build-bin">
            <dir
              name="build-deb">
              <dir
                name="src">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="googlecode">
                      <dir
                        name="ant_deb_task"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="build-cfg"/>
          <dir
            name="cloud.ganttproject.colloboque">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="resources"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="ganttproject">
            <dir
              name="lib">
              <dir
                name="development">
                <dir
                  name="licenses"/>
              </dir>
            </dir>
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="biz">
                    <dir
                      name="ganttproject">
                      <dir
                        name="app"/>
                      <dir
                        name="customproperty"/>
                      <dir
                        name="impex">
                        <dir
                          name="csv"/>
                      </dir>
                      <dir
                        name="lib">
                        <dir
                          name="fx">
                          <dir
                            name="autocomplete"/>
                          <dir
                            name="treetable"/>
                        </dir>
                      </dir>
                      <dir
                        name="storage">
                        <dir
                          name="cloud"/>
                        <dir
                          name="local"/>
                        <dir
                          name="webdav"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="net">
                    <dir
                      name="sourceforge">
                      <dir
                        name="ganttproject">
                        <dir
                          name="action">
                          <dir
                            name="edit"/>
                          <dir
                            name="help"/>
                          <dir
                            name="project"/>
                          <dir
                            name="resource"/>
                          <dir
                            name="scroll"/>
                          <dir
                            name="task"/>
                          <dir
                            name="view"/>
                          <dir
                            name="zoom"/>
                        </dir>
                        <dir
                          name="application"/>
                        <dir
                          name="calendar"/>
                        <dir
                          name="chart">
                          <dir
                            name="export"/>
                          <dir
                            name="gantt"/>
                          <dir
                            name="item"/>
                          <dir
                            name="mouse"/>
                          <dir
                            name="overview"/>
                        </dir>
                        <dir
                          name="client"/>
                        <dir
                          name="document">
                          <dir
                            name="webdav"/>
                        </dir>
                        <dir
                          name="export"/>
                        <dir
                          name="filter"/>
                        <dir
                          name="font"/>
                        <dir
                          name="gui">
                          <dir
                            name="options">
                            <dir
                              name="model"/>
                          </dir>
                          <dir
                            name="projectwizard"/>
                          <dir
                            name="scrolling"/>
                          <dir
                            name="tableView"/>
                          <dir
                            name="taskproperties"/>
                          <dir
                            name="view"/>
                          <dir
                            name="window"/>
                          <dir
                            name="zoom"/>
                        </dir>
                        <dir
                          name="importer"/>
                        <dir
                          name="io"/>
                        <dir
                          name="language"/>
                        <dir
                          name="parser"/>
                        <dir
                          name="plugins"/>
                        <dir
                          name="resource"/>
                        <dir
                          name="roles"/>
                        <dir
                          name="search"/>
                        <dir
                          name="shape"/>
                        <dir
                          name="task">
                          <dir
                            name="algorithm"/>
                          <dir
                            name="dependency">
                            <dir
                              name="constraint"/>
                          </dir>
                          <dir
                            name="event"/>
                          <dir
                            name="hierarchy"/>
                        </dir>
                        <dir
                          name="undo"/>
                        <dir
                          name="util">
                          <dir
                            name="collect"/>
                        </dir>
                        <dir
                          name="wizard"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="org">
                    <dir
                      name="ganttproject"/>
                    <dir
                      name="imgscalr"/>
                  </dir>
                </dir>
                <dir
                  name="resources">
                  <dir
                    name="resources">
                    <dir
                      name="sql"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="ganttproject-builder">
            <dir
              name="deb">
              <dir
                name="usr">
                <dir
                  name="share">
                  <dir
                    name="mime">
                    <dir
                      name="packages"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="ganttproject-tester">
            <dir
              name="resources"/>
            <dir
              name="test">
              <dir
                name="biz">
                <dir
                  name="ganttproject">
                  <dir
                    name="core">
                    <dir
                      name="calendar"/>
                    <dir
                      name="chart">
                      <dir
                        name="canvas"/>
                    </dir>
                  </dir>
                  <dir
                    name="impex">
                    <dir
                      name="csv"/>
                    <dir
                      name="msproject2"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="net">
                <dir
                  name="sourceforge">
                  <dir
                    name="ganttproject">
                    <dir
                      name="action">
                      <dir
                        name="task"/>
                    </dir>
                    <dir
                      name="chart">
                      <dir
                        name="gantt"/>
                      <dir
                        name="mouse"/>
                    </dir>
                    <dir
                      name="customProperty"/>
                    <dir
                      name="document">
                      <dir
                        name="webdav"/>
                    </dir>
                    <dir
                      name="gui">
                      <dir
                        name="taskproperties"/>
                    </dir>
                    <dir
                      name="resource"/>
                    <dir
                      name="roles"/>
                    <dir
                      name="task">
                      <dir
                        name="algorithm"/>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="task">
                        <dir
                          name="calendar"/>
                        <dir
                          name="dependency"/>
                        <dir
                          name="event"/>
                        <dir
                          name="hierarchy"/>
                      </dir>
                      <dir
                        name="time"/>
                    </dir>
                    <dir
                      name="update"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="org.ganttproject.chart.pert">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="ganttproject">
                      <dir
                        name="chart">
                        <dir
                          name="pert"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="org.ganttproject.impex.htmlpdf">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="ganttproject">
                      <dir
                        name="impex">
                        <dir
                          name="htmlpdf">
                          <dir
                            name="fonts"/>
                          <dir
                            name="itext"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="resources">
                  <dir
                    name="pdf-export-themes">
                    <dir
                      name="layout"/>
                    <dir
                      name="samara"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Pascal"/>
    <language
      name="Python"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""
    diff_flags="1"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5"/>
  <pascal_options
    allow_embedded_sql="true"
    display="Original"
    linkage_case="Lowercase"
    linkage_prepend_text=""
    parse_standard_library_implementation="false"
    version="Delphi"/>
  <python_options
    assume_nearest_matches="false"
    assume_single_choices="false"
    ignore_import_errors_in_try_blocks="false"
    save_comments_associated_with_entities="true"
    use_builtin_standard="true"
    use_installed_standard="false"
    version="Python3"/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
